<button #mybtn (click)="clickbutton(mybtn)">原生dom</button>
<br/>
<p #aabbb>get element in component</p>
<app-father></app-father>
<br/>
<input type="text" [(ngModel)] = "myformvalue"/>
<br>
<button (click)="changemodel()">chang data</button>
{{myformvalue}}
<br/>
数据容错
<br/>
<span *ngIf="person.location">{{person.location.sheng}}</span>
<br>
{{person.location?.sheng}}
<br>
指令<br>
<div *ngIf="directTrue;then trueContent else falseContent">this is content</div>
<ng-template #trueContent>trueContent</ng-template>
<ng-template #falseContent>falseContent</ng-template>

<br>
<button (click)="changeDirectbool()">changeDirectbool</button>
<div *ngIf="mymates.length>0;then listdata else nodata"></div>
<ng-template #listdata>

  <li *ngFor="
  let item of mymates;
  let i = index;
  let iseven = even;
  let isodd = odd;
  trackBy:uniqueItem
  "><span [ngClass]="{dansh:iseven,obb:isodd}">{{item.age}}@@{{i}}</span></li>

</ng-template>
<ng-template #nodata><span>nodata</span></ng-template>
pipe <br>
{{ mydate | date }}
<br>
mypipe
{{  "mypipe" | cutstring:2:"aa"  }}
<br>
组件传值 <br>
<app-zjcz name="lvfei"></app-zjcz>

<br>
============================
<app-school></app-school>


<br>
=============directive==================
<p>
  test directive<br>
<input type="text" att-numberonly>

</p>