<div>app works</div>
<div>{{ mymessage }}</div>
<div [innerHTML] = "htmlString"> </div>
<div>myfn{{ myfn() }}</div>
属性绑定 <br/>
<img [src]="imgurl" alt="">
    <div [attr.title] = "divtitle">divtitle</div>
    <br/>
    添加class
    <br/>
    <div [class.myactive] = "true">myactive</div>
    <br/>
    <div [ngClass]="{active:true,error:mytrue}">ngclass</div> 
    <br/>
    添加行内样式
    <br/>
    <div [style.width]="'200px'" [style.height]="'200px'" [style.background-color]="myred"></div>
    <br/>
    事件绑定
    <br/>
    <button (click)="myclickbutton($event)">mybutton</button>
    <br/>
    <input type="text" id="myinput" (keyup.enter)="onkeyup($event)"/>
    获取原生 DOM 对象
    <button  #mybutton (click)="myclick(mybutton)">原生DOm</button>
<app-layout></app-layout>
<br>
<hr>
<input type="text" #AddTodoIput>